
#SignIn{
    width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: auto;
    margin-left: 150px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background: #e0dcdc;
}

#SignIn img{
    width: 250px;
    height: 150px;
    margin-bottom: 30px;
}
#SignIn{
    text-align: start;
}
#SignIn .btnSignIn{
    background: #f03333;
    color: #fff;
    width: 300px;
    margin-top: 20px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

#SignIn label{
    font-size: 22px;
}
#SignIn input{
    width: 300px;
    margin-left: 15px;
}
#SignIn .row{
    display: block;
    margin-left: 20px;
}
.SignIn-info{
    display: flex;
    line-height: 10px;
}
#SignIn span{
    color: #f03333;
    font-weight: bolder;
    font-weight: 900;
}
.SignIn-info p{
    font-size: 20px;
}
.SignIn-info .btn2{
    border: none;
    background-color: #e0dcdc;
    font-size: 20px;
    font-weight: 500;
}
.SignIn-info .btn2:hover{   
    text-decoration: underline;
}

/*media Query*/
@media only screen and (max-width: 767px) {
    #SignIn{
      max-width: 100%;
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
    #SignIn img{
        width: 150px;
        height: 100px;
        margin-bottom: 20px;
    }
    #SignIn label{
        font-size: 20px;
    }
    #SignIn .btnSignIn{
        width: 250px;
        margin-top: 15px;
        margin-left: 10px;
    }
    #SignIn input{
        width: 250px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}